{% extends 'base.html' %}

{% load bootstrap4 static i18n %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
          <div class="card-header">
              <div class="float-left">
                {% trans 'Categories' %}
              </div>
            {% if user.is_superuser %}
                <div class="float-right">
                    <a href="{% url 'core:create_category' %}" class="badge badge-success">{% trans 'Create new category' %}</a>
                </div>
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            {% if object_list %}
                {% for category in object_list %}
                    <li class="list-group-item"><a href="{% url 'core:topics' category.pk %}">{{ category.name }}</a>
                        {% if user.is_superuser %}
                        <p class="float-right">
                            <a href="{% url 'core:delete_category' category.pk %}" class="badge badge-danger">{% trans 'Delete' %}</a>
                            <a href="{% url 'core:update_category' category.pk %}" class="badge badge-info">{% trans 'Edit' %}</a>
                        </p>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
              <li class="list-group-item">{% trans 'No categories' %}</li>
            {% endif %}
          </ul>
        </div>
    </div>
</div>
{% endblock %}
