{% extends 'base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card mt-4">
          <div class="card-header">
              <div class="float-left">
                {{ category.name }}
              </div>

            <div class="float-right">
                <a href="{% url 'core:create_topic' category.pk %}" class="badge badge-success">{% trans 'Create new topic' %}</a>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            {% if page_obj %}
                {% for topic in page_obj %}
                    <li class="list-group-item">
                        <a href="{% url 'core:topic_posts' topic.pk %}">{{ topic.name }}</a>
                    </li>
                {% endfor %}
            {% else %}
              <li class="list-group-item">{% trans 'No topics' %}</li>
            {% endif %}
          </ul>
        </div>
        <div class="pagination justify-content-center mt-4">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
</div>
{% endblock %}
